entrypoint = "main.py"
language = "python3"
run = "pip install -r requirements.txt && python3 main.py"
modules = ["python-3.11"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 10000
externalPort = 3000

[agent]
expertMode = true

[nix]
